/*nav related css*/
nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 align-items: center;
 margin: 0 150px;
}

.nav-title {
 color: #181818;
 font-family: Open Sans;
 font-size: 45px;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
}



.text-primary {
 color: #FD6E0A;
}

nav>ul {
 display: flex;
 align-items: center;
}

nav li {
 list-style: none;
 margin-right: 50px;
}

nav a {
 text-decoration: none;
 color: rgb(63, 16, 192);
}

.button-primary {
 border-radius: 5px;
 background: #8fe27f;
 border: 0;
 color: aliceblue;
 font-size: 20px;
 font-weight: 600;
 padding: 15px 30px;
}

/*header related css*/

.header-class {
 background-color: #f9ede5dc;
 background-image: url(header_bg.png);
 background-repeat: no-repeat;
 background-position: bottom right;

}

.banner {
 padding: 40px 30px 0px 150px;
 display: flex;
 flex-shrink: 0;
 align-items: center;
 justify-content: space-between;
}

.banner-greeting {
 color: brown;

}

.banner-title {
 color: blueviolet;
}

.content {
 color: rgb(245, 9, 68);
 font-size: large;
}

/*main section*/

.section-title {
 color: var(--dark-01, #181818);
 text-align: center;

 font-size: 35px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;

}

.section-content {
 color: deepskyblue;
 text-align: center;
 font-size: 20px;
}

main section {
 margin-top: 130px;
}

.about {
 padding: 130px;
 border-radius: 20px;
 background-color: #f9ede5dc;
 margin-top: 150px;
 margin-left: 140px;
 margin-right: 140px;
 margin-bottom: 150px;
}

.about-info-container {
 display: flex;
 justify-content: space-between;
}

.about-info {
 text-align: center;
}

.info-cintent {
 font-weight: bolder;
}

.info-title {
 font-weight: 200;
}

#what-i-do-con {
 padding: 30px 150px;
 justify-content: center;
}

.skill-container {
 display: flex;
 justify-content: space-between;
 gap: 30px;
}

.skill-descroption {
 color: rgb(142, 93, 21);
}

.skill {
 padding: 35px;
 background: f9ede5dc;
 box-shadow: 0px 5px 40px 0px rgb(226, 218, 218);

}

.resume-colam-title {
 color: cornflowerblue;
 font-size: 30px;
 font-weight: 700;
 line-height: normal;
}